<form action="/save" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
            required
            name="title"
            type="text"
            class="form-control"
            id="title"
            aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">type some nice text for the post.</div>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea
            required
            name="content"
            class="form-control"
            id="content"
        ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
